<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE project>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Properties>
		<Property name="basePath">/atom/POC_LOGS</Property>
	</Properties>
	<Appenders>

		<!-- Console Appender -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d] [%-6p] [%-15c] – %m%n" />
		</Console>

		<!-- ROLLING FILE APPENDER -->
		<RollingFile name="rollingFile" fileName="${basePath}/poc.log" filePattern="${basePath}/application.%i.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>[%d] [%-6p] [%-15c] – %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<!-- ROLLING FILE APPENDER -->
		<RollingFile name="fogFile" fileName="${basePath}/pocFog.log" filePattern="${basePath}/application.%i.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>[%d] [%-6p] [%-15c] – %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>


	</Appenders>


	<Loggers>

		<!--EXPERIMENT STARTS-->
		<!-- avoid duplicated logs with additivity=false -->
		<!-- <Logger name="io.poc.service.impl" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger> -->

		<!-- <Logger name="io.poc.controller" level="debug"
			additivity="false">
			<AppenderRef ref="fogFile" />
		</Logger> -->

		<!-- <Root level="debug">
			<AppenderRef ref="rollingFile" />
		</Root> -->
		<!--EXPERIMENT ENDS-->


		<Root level="trace">
			<AppenderRef ref="rollingFile" level="debug" />
			<AppenderRef ref="STDOUT" level="debug" />
		</Root>

	</Loggers>


</Configuration>